<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/default.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<!--<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1'></script>    -->
		<!--<script type='text/javascript' src='js/infinite-rotator.js'></script>		-->
    <!--<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />-->
    <title>Weizl Blog</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1 id="site-title"><a href="/">Weizl Blog</a></h1>
      </div>
      <div id="header-img">
        <img src="/images/wheel.jpg" width=100% height="288"> 
      </div>
      <div id="nav">
        <ul id="nav-item">
          <li class="nav-item-list"><a href="#">Home</a></li>
          <li class="nav-item-list"><a href="#">Archive</a></li>
          <li class="nav-item-list"><a href="#">Works</a></li>
          <li class="nav-item-list"><a href="#">Resume</a></li>
          <li class="nav-item-list"><a href="#">Contact</a></li>
        </ul>
      </div>
      {{ content }}
      <div id="aside">
         <div id="blog-recent">
           <div id="blog-recent-title">Recent Blogs</div>
           <ul id="blog-recent-list">
             <li><a href="#">Try Git</a></li>   
             <li><a href="#">Try Git</a></li>   
             <li><a href="#">Try Git</a></li>   
             <li><a href="#">Try Git</a></li>   
           </ul>
         </div>
         <div id="blog-category">
           <div id="blog-recent-title">Recent Blogs</div>
           <ul id="blog-recent-list">
             <li><a href="#">Try Git</a></li>   
             <li><a href="#">Try Git</a></li>   
             <li><a href="#">Try Git</a></li>   
             <li><a href="#">Try Git</a></li>   
           </ul>
         </div>
      </div>
    </div>
  </body>
</html>
