<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/default.css" />
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1'></script>    
		<script type='text/javascript' src='js/infinite-rotator.js'></script>		
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <title>Weizl Blog</title>
    
  </head>
  <body>
		<div id="rotating-item-wrapper">
			<img src="images/img01a.jpg" class="rotating-item "/>
      <img src="images/img02a.jpg" class="rotating-item "/>
      <img src="images/img03a.jpg" class="rotating-item "/>
      <img src="images/img04a.jpg" class="rotating-item "/>
      <img src="images/img05a.jpg" class="rotating-item "/>
      <img src="images/img03a.jpg" class="rotating-item "/>    
		</div>
    <div id="pattern">&nbsp;</div>
    <div id="nav">
      <div id="home"><a href="#">Home</a></div>
      <div id="archive"><a href="#">Archive</a></div>
      <div id="works"><a href="#">Works</a></div>
      <div id="resume"><a href="#">Resume</a></div>
      <div id="contact"><a href="#">Contact</a></div>
    </div>
  </body>
</html>
